<div class="container css-smv">
	<div class="row row-centered css-smv-match">
  		<div class="col-md-6 col-centered css-smv-blue-team">
  			<div class="css-smv-blue-summary">
  				<span class="css-smv-status-lost">
  					LOST
  				</span>
  				<span class="css-smv-ui-summary">
  					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					23
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					68.6k
  				</span>
  				<span class="css-smv-blue-team-name">
  					Blue Team
  				</span>
  			</div>
  			<div class="css-smv-blue-participant">
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Blitzcrank.png" class="css-smv-champ-ico img-circle">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerExhaust.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="app/assets/images/tier-icons/diamond_i.png" class="css-smv-tier-ico">
  				<span class="css-smv-summonername">
  					Sawyerr 
  				</span>
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3165.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3302.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3143.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3117.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3110.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3113.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-blue img-rounded">
				<span class="css-smv-ui-blue">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					1/3/17
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
  					69
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					10.1k
  				</span>
  			</div>
  			<div class="css-smv-blue-participant">
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Caitlyn.png" class="css-smv-champ-ico img-circle">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerHeal.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="app/assets/images/tier-icons/challenger.png" class="css-smv-tier-ico">
  				<span class="css-smv-summonername">
  					Imaqtpie 
  				</span>
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3031.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3006.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3085.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3036.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3094.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3139.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-blue img-rounded">
				<span class="css-smv-ui-blue">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					10/12/6
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
  					301
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					17.2k
  				</span>
  			</div>
  			<div class="css-smv-blue-participant">
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/LeeSin.png" class="css-smv-champ-ico img-circle">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerSmite.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="app/assets/images/tier-icons/challenger.png" class="css-smv-tier-ico">
  				<span class="css-smv-summonername">
  					Nightblue3
  				</span>
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1402.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1056.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3143.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3117.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1056.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1056.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3341.png" class="css-smv-trinket-ico-blue img-rounded">
				<span class="css-smv-ui-blue">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					0/18/1
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
  					72
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					9.1k
  				</span>
  			</div>
  			<div class="css-smv-blue-participant">
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Syndra.png" class="css-smv-champ-ico img-circle">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerDot.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="app/assets/images/tier-icons/challenger.png" class="css-smv-tier-ico">
  				<span class="css-smv-summonername">
  					Pobelter 
  				</span>
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1056.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3089.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3116.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3135.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3165.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3001.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-blue img-rounded">
				<span class="css-smv-ui-blue">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					10/2/8
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
  					330
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					18.1k
  				</span>
  			</div>
  			<div class="css-smv-blue-participant css-smv-last-participant">
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Singed.png" class="css-smv-champ-ico img-circle">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerTeleport.png" class="css-smv-blue-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="app/assets/images/tier-icons/diamond_iii.png" class="css-smv-tier-ico">
  				<span class="css-smv-summonername">
  					singed420 
  				</span>
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3116.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3027.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3075.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3009.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3110.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3083.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-blue img-rounded">
				<span class="css-smv-ui-blue">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					2/2/6
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
  					298
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					14.1k
  				</span>
  			</div>
  		</div>
  		<div class="col-md-6 col-centered css-smv-purple-team">
  			<div class="css-smv-purple-summary">
  				<span class="css-smv-purple-team-name">
  					Purple Team
  				</span>
  				<span class="css-smv-ui-summary">
  					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
  					37
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
  					86.7k
  				</span>
  				<span class="css-smv-status-won">
  					WON
  				</span>
  			</div>
  			<div class="css-smv-purple-participant">		
				<span class="css-smv-ui-purple">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
					23/2/8
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
					420
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
					20.7k
  				</span>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3462.png" class="css-smv-trinket-ico-purple img-rounded">
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3025.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3036.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3153.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3158.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3043.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3072.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
  				<span class="css-smv-summonername">
  					fastlogin
  				</span>
  				<img src="app/assets/images/tier-icons/gold_i.png" class="css-smv-tier-ico">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerHeal.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Ezreal.png" class="css-smv-champ-ico img-circle">
  			</div>
  			<div class="css-smv-purple-participant">		
				<span class="css-smv-ui-purple">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
					0/2/19
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
					43
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
					12.1k
  				</span>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-purple img-rounded">
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3158.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3092.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/2045.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3143.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3083.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3116.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
  				<span class="css-smv-summonername">
  					Xpecial
  				</span>
  				<img src="app/assets/images/tier-icons/master.png" class="css-smv-tier-ico">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerExhaust.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Nami.png" class="css-smv-champ-ico img-circle">
  			</div>
  			<div class="css-smv-purple-participant">		
				<span class="css-smv-ui-purple">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
					4/0/12
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
					201
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
					16.5k
  				</span>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3341.png" class="css-smv-trinket-ico-purple img-rounded">
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/1400.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3742.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3143.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3075.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3047.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3071.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
  				<span class="css-smv-summonername">
  					IWDFridge
  				</span>
  				<img src="app/assets/images/tier-icons/diamond_i.png" class="css-smv-tier-ico">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerSmite.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/RekSai.png" class="css-smv-champ-ico img-circle">
  			</div>
  			<div class="css-smv-purple-participant">		
				<span class="css-smv-ui-purple">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
					8/3/14
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
					331
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
					19.2k
  				</span>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-purple img-rounded">
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3001.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3116.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3020.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3135.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3089.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3041.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
  				<span class="css-smv-summonername">
  					Annie Bot
  				</span>
  				<img src="app/assets/images/tier-icons/diamond_i.png" class="css-smv-tier-ico">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerDot.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Annie.png" class="css-smv-champ-ico img-circle">
  			</div>
  			  	<div class="css-smv-purple-participant css-smv-last-participant">		
				<span class="css-smv-ui-purple">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/score.png" class="css-smv-ui-ico">
					2/16/17
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/minion.png" class="css-smv-ui-ico">
					389
					<img src="http://ddragon.leagueoflegends.com/cdn/5.5.1/img/ui/gold.png" class="css-smv-ui-ico">
					18.2k
  				</span>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3340.png" class="css-smv-trinket-ico-purple img-rounded">
  				<table class="css-smv-table">
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3078.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3512.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3143.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
  					<tr>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3075.png" class="css-smv-item-ico img-rounded"></td>
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3111.png" class="css-smv-item-ico img-rounded"></td> 
    					<td><img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/item/3065.png" class="css-smv-item-ico img-rounded"></td>
  					</tr>
				</table>
  				<span class="css-smv-summonername">
  					Dyrus
  				</span>
  				<img src="app/assets/images/tier-icons/master.png" class="css-smv-tier-ico">
  				<table class="css-smv-table">
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerFlash.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
  					<tr>
  						<td>
    						<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/spell/SummonerTeleport.png" class="css-smv-purple-sspell-ico img-thumbnail">
    					</td>
  					</tr>
				</table>
  				<img src="http://ddragon.leagueoflegends.com/cdn/6.23.1/img/champion/Nasus.png" class="css-smv-champ-ico img-circle">
  			</div>
  		</div>
	</div>
	<hr>
</div>
